Repository apache/ambari-metrics, pull requests merged in 2018-10, with the labels that each got.

#4 AMBARI-24724. Remove ambari-metrics dependency on ambari-commons.
  ambari-metrics-assembly/pom.xml
  ambari-metrics-assembly/src/main/assembly/monitor.xml
  ambari-metrics-host-monitoring/pom.xml
  ambari-metrics-host-monitoring/src/main/python/core/config_reader.py
  ambari-metrics-host-monitoring/src/main/python/core/stop_handler.py
  ambari-metrics-host-monitoring/src/main/python/main.py
  ambari-metrics-host-monitoring/src/main/python/psutil/build.py
  ambari-metrics-host-monitoring/src/main/python/psutil/psutil/__init__.py
  ambari-metrics-host-monitoring/src/main/python/psutil/psutil/_pssunos.py
  ambari-metrics-host-monitoring/src/main/unix/ambari-python-wrap
  ambari-metrics-host-monitoring/src/test/python/core/TestEmitter.py
  ambari-metrics-host-monitoring/src/test/python/mock/LICENSE.txt
  ambari-metrics-host-monitoring/src/test/python/mock/MANIFEST.in
  ambari-metrics-host-monitoring/src/test/python/mock/README.txt
  ambari-metrics-host-monitoring/src/test/python/mock/__init__.py
  ambari-metrics-host-monitoring/src/test/python/mock/docs/changelog.txt
  ambari-metrics-host-monitoring/src/test/python/mock/docs/compare.txt
  ambari-metrics-host-monitoring/src/test/python/mock/docs/conf.py
  ambari-metrics-host-monitoring/src/test/python/mock/docs/examples.txt
  ambari-metrics-host-monitoring/src/test/python/mock/docs/getting-started.txt
  ambari-metrics-host-monitoring/src/test/python/mock/docs/helpers.txt
  ambari-metrics-host-monitoring/src/test/python/mock/docs/index.txt
  ambari-metrics-host-monitoring/src/test/python/mock/docs/magicmock.txt
  ambari-metrics-host-monitoring/src/test/python/mock/docs/mock.txt
  ambari-metrics-host-monitoring/src/test/python/mock/docs/patch.txt
  ambari-metrics-host-monitoring/src/test/python/mock/docs/sentinel.txt
  ambari-metrics-host-monitoring/src/test/python/mock/extendmock.py
  ambari-metrics-host-monitoring/src/test/python/mock/mock.py
  ambari-metrics-host-monitoring/src/test/python/mock/mock.wpr
  ambari-metrics-host-monitoring/src/test/python/mock/setup.cfg
  ambari-metrics-host-monitoring/src/test/python/mock/setup.py
  ambari-metrics-host-monitoring/src/test/python/mock/tox.ini
  ambari-metrics-host-monitoring/src/test/python/mock/unittest.cfg
  ambari-metrics-host-monitoring/src/test/python/unitTests.py
Labels: ambari-metrics-monitor

#5 [AMBARI-24723] Support wild cards in AppId and InstanceId fields in AMS GET API.
  ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessor.java
  ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/discovery/TimelineMetricMetadataManager.java
  ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/query/DefaultCondition.java
  ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/query/MetadataQueryCondition.java
  ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/query/PhoenixTransactSQL.java
  ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/query/TransientMetricCondition.java
  ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/discovery/TestMetadataManager.java
Labels: ambari-metrics-collector

#8 [AMBARI-24797] Support regex based metric inclusion in KafkaTimelineM…
  ambari-metrics-kafka-sink/src/main/java/org/apache/hadoop/metrics2/sink/kafka/KafkaTimelineMetricsReporter.java
  ambari-metrics-kafka-sink/src/test/java/org/apache/hadoop/metrics2/sink/kafka/KafkaTimelineMetricsReporterTest.java
Labels: ambari-metrics sink
